interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer rWaN90KQIyJpk9vsytoB
    method: GET
    uri: https://the-one-api.dev/v2//movie?limit=3&page=1&offset=0
  response:
    body:
      string: '{"docs":[{"_id":"5cd95395de30eff6ebccde56","name":"The Lord of the
        Rings Series","runtimeInMinutes":558,"budgetInMillions":281,"boxOfficeRevenueInMillions":2917,"academyAwardNominations":30,"academyAwardWins":17,"rottenTomatoesScore":94},{"_id":"5cd95395de30eff6ebccde57","name":"The
        Hobbit Series","runtimeInMinutes":462,"budgetInMillions":675,"boxOfficeRevenueInMillions":2932,"academyAwardNominations":7,"academyAwardWins":1,"rottenTomatoesScore":66.33333333},{"_id":"5cd95395de30eff6ebccde58","name":"The
        Unexpected Journey","runtimeInMinutes":169,"budgetInMillions":200,"boxOfficeRevenueInMillions":1021,"academyAwardNominations":3,"academyAwardWins":1,"rottenTomatoesScore":64}],"total":8,"limit":3,"offset":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2cc-zUW/pnPCDKaDck5ccJZ6+GBphIE"
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '98'
      X-RateLimit-Reset:
      - '1655967598'
    status:
      code: 200
      message: OK
version: 1
