interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer rWaN90KQIyJpk9vsytoB
    method: GET
    uri: https://the-one-api.dev/v2//chapter/6091b6d6d58360f988133b8c
  response:
    body:
      string: '{"docs":[{"_id":"6091b6d6d58360f988133b8c","chapterName":"The Shadow
        of the Past","book":"5cf5805fb53e011a64671582"}],"total":1,"limit":1000,"offset":0,"page":1,"pages":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ab-CvMbHHbWpICEBzWx/j9fiz8p75A"
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '93'
      X-RateLimit-Reset:
      - '1655964598'
    status:
      code: 200
      message: OK
version: 1
