interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://the-one-api.dev/v2//book/5cf5805fb53e011a64671582
  response:
    body:
      string: '{"docs":[{"_id":"5cf5805fb53e011a64671582","name":"The Fellowship Of
        The Ring"}],"total":1,"limit":1000,"offset":0,"page":1,"pages":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"86-I7v5qLZewBm6kqSZlRMWqSKHi1k"
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '96'
      X-RateLimit-Reset:
      - '1655963998'
    status:
      code: 200
      message: OK
version: 1
