interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer rWaN90KQIyJpk9vsytoB
    method: GET
    uri: https://the-one-api.dev/v2//chapter?limit=3&page=1&offset=1
  response:
    body:
      string: '{"docs":[{"_id":"6091b6d6d58360f988133b8c","chapterName":"The Shadow
        of the Past","book":"5cf5805fb53e011a64671582"},{"_id":"6091b6d6d58360f988133b8d","chapterName":"Three
        is Company","book":"5cf5805fb53e011a64671582"},{"_id":"6091b6d6d58360f988133b8e","chapterName":"A
        Short Cut to Mushrooms","book":"5cf5805fb53e011a64671582"}],"total":62,"limit":3,"offset":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"16a-ur8pu/KDwa4wJ4g3MBQltjGPQ48"
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '94'
      X-RateLimit-Reset:
      - '1655964598'
    status:
      code: 200
      message: OK
version: 1
