interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://the-one-api.dev/v2//book?limit=100&page=1&offset=0
  response:
    body:
      string: '{"docs":[{"_id":"5cf5805fb53e011a64671582","name":"The Fellowship Of
        The Ring"},{"_id":"5cf58077b53e011a64671583","name":"The Two Towers"},{"_id":"5cf58080b53e011a64671584","name":"The
        Return Of The King"}],"total":3,"limit":100,"offset":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"f0-VRQjTYAwunjund1c849IMFzAwyg"
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '99'
      X-RateLimit-Reset:
      - '1655963998'
    status:
      code: 200
      message: OK
version: 1
