interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer rWaN90KQIyJpk9vsytoB
    method: GET
    uri: https://the-one-api.dev/v2//book/5cf5805fb53e011a64671582/chapter?limit=2&page=1&offset=0
  response:
    body:
      string: '{"docs":[{"_id":"6091b6d6d58360f988133b8b","chapterName":"A Long-expected
        Party"},{"_id":"6091b6d6d58360f988133b8c","chapterName":"The Shadow of the
        Past"}],"total":22,"limit":2,"offset":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"bd-QiwXCP/Rgk0ulaeUhGOWLQq3Jro"
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '96'
      X-RateLimit-Reset:
      - '1655964598'
    status:
      code: 200
      message: OK
version: 1
